block content
    body
        div.container
            h1 My favorites
            input#searchBar.input-group-btn(type="text" placeholder="Search" name="search" onkeyup="filterTable()")
            div.main
                - const padding1 = {"width": "10%"}
                - const padding11 = {"width": "45%"}
                - const padding2 = {"width": "7.5%"}
                - const pointer = {"cursor": "pointer"}
                table#foodTbl.tableStyle
                    thead
                        tr
                            th(style = padding1)
                            th(style = (padding11, pointer) onclick="sortTable(1, 'string')")   Meal
                            th.centerImg(style = padding2 onclick="sortTable(2, 'number')")    #[img(id="cook_img" src="../images/assets/icone/cook_time.png" alt="Cooking time" title="Cooking Time" style = pointer)]
                            th.centerImg(style = padding2 onclick="sortTable(3, 'number')")    #[img(id="hp_img" src="../images/assets/icone/Health_Meter.png" alt="Healt Value" title="Healt Value" style = pointer)]
                            th.centerImg(style = padding2 onclick="sortTable(4, 'number')")    #[img(id="hunger_img" src="../images/assets/icone/Hunger_Meter.png" alt="Hunger Value" title="Hunger Value" style = pointer)]
                            th.centerImg(style = padding2 onclick="sortTable(5, 'number')")    #[img(id="sa_img" src="../images/assets/icone/Sanity_Meter.png" alt="Sanity Value" title="Sanity Value" style = pointer)]
                            th.centerImg(style = padding2 onclick="sortTable(6, 'number')")    #[img(id="sp_img" src="../images/assets/icone/spoil_time.png" alt="Spoil time" title="Spoil time" style = pointer)]
                            th.centerImg(style = padding2 onclick="sortTable(7, 'number')")    #[img(id="priority_img" src="../images/assets/icone/Priority.png" alt="Priority" title="Priority" style = pointer)]
                    tbody#foodBody
    footer
        script(type="module" src='/scripts/views/tables/FavoriteController.js')   
