doctype html
html
    head
        title Index
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
            h1 This is the management page
            h2 Website map
            ul 
                li 
                    a(href="/login") Login
                li
                    a(href="/register") Register
                li
                    a(href="/admin") Return to webSite
            h2 Database operations
            h3 Users management
    footer
        script(type="module" src="scripts/index.js")
        script(type="module" src="/scripts/flushUsers.js")