link(rel="stylesheet" href='../style/bootstrap.css')
link(rel="stylesheet" href='../style/style.css')

meta(name="viewport" content="width=device-width, initial-scale=1")

img.logoHead(id='logo' src='../images/CK_logo_white.png')
h2#welcome 
