
div.navbar
	a(href = "/user/suggestions") Cook
	a(href = "/user/inventory") Inventory
	a(href = "/user/recipes") Recipes
	a(href = "/user/favorites") Favorites
	a#logout(href = "javascript:void(0);") Logout
	br
	div#collNav.extendedNavbar
	button#collBtn.collapsible() Versions
script(type='module' src='/scripts/navbar.js')
script(type="module" src="/scripts/logout.js")