
div.navbarAdmin
	a(href = "/admin/suggestions_admin") Cook
	a(href = "/admin/inventory_admin") Inventory
	a(href = "/admin/recipes_admin") Recipes
	a(href = "/admin/favorites_admin") Favorites
	a(href = "/admin/manage_admin") Manage

	a#logout(href = "javascript:void(0);") Logout
	br
	div#collNav.extendedNavbar
	button#collBtn.collapsible() Versions
	
script(type='module' src='/scripts/navbar.js')
script(type="module" src="/scripts/logout.js")