
div.navbar
	a(href = "/user/suggestions_user") Cook
	a(href = "/user/inventory_user") Inventory
	a(href = "/user/recipes_user") Recipes
	a(href = "/user/favorites_user") Favorites
	a#logout(href = "javascript:void(0);") Logout
	br
	div#collNav.extendedNavbar
	button#collBtn.collapsible() Versions
script(type='module' src='/scripts/navbar.js')
script(type="module" src="/scripts/logout.js")